<h4 class="text-center">CREATE A ROLES THEN CLICK ON CREATE USER</h4>
<div class="container" style="padding-top: 5%;">
    <div class="row" >
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-header"  style="background-color:#1F173E;color:white">
                    Add Roles 
                </div>
                <div class="card-body">
                    <form [formGroup]="rolesForm"  (ngSubmit)="onSubmit()" >
                        <div class="row">
                            <div class="col-md-12 pl-5 pt-5 pb-5 pr-5">
                                <div class="form-group">
                                    <input type="text" class="form-control"  formControlName="role_name"  id="exampleFormControlInput1"
                                        placeholder="Roles Name" [ngClass]="{ 'is-invalid': submitted && f.role_name.errors }" >
                                        <div *ngIf="submitted && f.role_name.errors" class="invalid-feedback">
                                            <div *ngIf="f.role_name.errors.required">Roles Name Required</div>
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="col-md-12">
                                                <button class="width-100" class="addBtn">ADD</button>
                                            </div>
                                        </div>
                             
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-muted">
                </div>
              </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-sm-2">
                    
                </div>
                <div class="col-sm-10">
                    <div class="card text-center">
                        <div class="card-header" style="background-color:#1F173E;color:white">
                           ADDED ROLES
                        </div>
                        <form  >
                        <div class="card-body" *ngFor="let item of rolesArr">
                        <div class="row">
                           <div class="col-md-8">
                             <input type="text" disabled value="{{item.role_name | uppercase}}"> 
                           </div>
                           <div class="col-md-2">
                            <button class="width-100" class="addBtn" data-toggle="modal" data-target="#editRoles" (click)="editroles(item._id,item.role_name)">EDIT</button>
                           </div>
                           <div class="col-md-2">
                            <button class="width-100" class="addBtn" (click)="deleteRoles(item._id)">DELETE</button>
                        </div>
                        </div>
                        </div>
                    </form>
                      </div>
                </div>
                <!-- <div class="col-sm-2">
                    
                </div> -->
            </div>
              
        </div>
        <!-- <div class="col-md-2"></div> -->
<!-- dynamicm get -->
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <button class="width-100" class="addBtn" (click)="addUser()">CREATE USERS</button>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="editRoles" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="text" [(ngModel)]="editRolename"> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
          <button type="button" class="btn btn-primary" (click)="updateRole()">UPDATE</button>
        </div>
      </div>
    </div>
  </div>


