.padding-css{
    margin:5% 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.col-md-4{
    margin-bottom: 5%;
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.addBtn{
    background: #F04F53;
    border: 1px solid #F04F53;
    color: white;
    padding: 5px 20px 5px 20px;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 1%;
    margin-right: 20px;
    outline: none;
}