.bg-grey{
    background: #ececec;
}
.circle-css{  background: #f04f53;
    padding: 5px 11px 3px 11px;
    border-radius: 50%;
    color: white;
}
.pink-bold{
    color: #f04f53;
    font-weight: 600;
}
.fnt900{
    font-weight: 900;
}

.btn-primary1{
    border: solid 2px #f04f53;
}